<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87550721429-bmpbu889vp8cqmeq8vhpgilr0ho50u1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87550721429-bmpbu889vp8cqmeq8vhpgilr0ho50u1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAnZQOKRLhlnEn5LdDeuBh3TTZ6U1W6sm8</string>
	<key>GCM_SENDER_ID</key>
	<string>87550721429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contractorMobileApplicatin</string>
	<key>PROJECT_ID</key>
	<string>cmms-a074d</string>
	<key>STORAGE_BUCKET</key>
	<string>cmms-a074d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87550721429:ios:c7048021273c3a65354a9c</string>
</dict>
</plist>